pyperclip==1.8.2
numpy==1.22.4
pandas==1.4.2
matplotlib==3.5.2
bokeh==2.4.3
seaborn==0.11.2
scipy==1.10.0
ipython==8.10.0
ipython_genutils
ipykernel
jupyter==1.0.0
biopython==1.78
pylint==2.15.9
pytest==7.2.0
black==24.3.0
traitlets>5
scikit-learn==1.2.2
tensorflow==2.12.0
